.cardItem {
    background: #FFFFFF;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
}

.cardItem__img {
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.cardItem__text {
    padding: 20px;
    position: relative;
}

.cardItem_textsmall {
    font-size: 13px;
    color: #817F8A;
}

.cardItem__cardItemtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardItem__tag {
    position: absolute;
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #5D69FB;
    top: -25px;
    left: 0;
    &::after {
        width: 100%;
        height: 75%;
        background-color: #8c00ff;
        content: '';
        position: absolute;
        top: 0px;
        left: 100%;
        clip-path: polygon(0 0, 0% 100%, 20% 100%);
    }
}