.circle-bg {
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    top: -40px;
    left: -45px;
    z-index: -1;
}

.circle-bg--pink {
    background-color: #FBE9E9;
}

.circle-bg--green {
    background-color: #E7FAF9;
}

.circle-bg--purple {
    background-color: #F5ECFD;
}

.circle-bg--blue {
    background-color: #E7EFFB;
}

.circle-bg--orange {
    background-color: #FDF0E7;
    top: -20px
}

@media screen and (max-width: 787px) {
    .circle-bg {
        width: 80px;
        height: 80px;
        top: -30px;
        left: -15px;
    }
}