.features__subtitle {
    color: $color-params;
}

.features {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px 30px;
}

.features__text {
    color: $color-params;
}

.features__icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.features__icon--color1 {
    background-color: #FFF1F0;
    color: #ffbcb7;
}

.features__icon--color2 {
    background-color: #F2E9FA;
    color: #dbb7fb;
}

.features__icon--color3 {
    background-color: #E4F7FA;
    color: #86ebfb;
}

.features__icon--color4 {
    background-color: #E4E6FB;
    color: #abb2ff;
}

.features__icon--color5 {
    background-color: #FDE9F4;
    color: #fab1d9;
}

.features__icon--color6 {
    background-color: #E4F9E6;
    color: #93fc9e;
}