.header__logo {
    width: 10%;
    max-width: 180px;
}

.header__menu {
    max-width: calc(100% - 180px);
}

.nav {
    width: 100%;
}

.nav__ul {
    float: right;
    text-decoration: none;
    margin-bottom: 0;
    padding-left: 0;
}

.nav__li {
    display: inline-block;
    margin-left: 20px;
    padding: 16px 0px;
}

@media screen and (max-width: 1320px) {
    .nav__li {
        font-size: 17px;
        padding: 10px 12px;
        margin-left: 15px;
    }
    .header__logo {
        width: 30%;
        max-width: 150px;
    }
    .header__menu {
        max-width: calc(100% - 150px);
    }
    .toggleMobile {
        float: right;
        text-align: end;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 50%;
        max-width: 120px;
        padding-left: 20px;
    }
    .nav__li {
        font-size: 15px;
        padding: 10px;
    }
    .header__menu {
        max-width: calc(100% - 120px);
    }
}