.header__logo {
    width: 10%;
    max-width: 180px;
}

.header__menu {
    max-width: calc(100% - 180px);
}

.header__ul {
    float: right;
    text-decoration: none;
    margin-bottom: 0;
    padding-left: 0;
}

.header__li {
    display: inline-block;
    padding: 16px;
    margin-left: 20px;
    border-radius: 13px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.header__li-purple {
    background-color: #616AE8;
    color: #fff;
}

.header__li-green {
    background-color: #22E4A7;
    color: #fff;
}

@media screen and (max-width: 1320px) {
    .header__li {
        font-size: 17px;
        padding: 10px 12px;
        margin-left: 15px;
    }
    .header__logo {
        width: 30%;
        max-width: 150px;
    }
    .header__menu {
        max-width: calc(100% - 150px);
    }
    .header__toggleMobile {
        max-width: calc(100% - 150px);
        float: right;
        text-align: end;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 50%;
        max-width: 120px;
        padding-left: 20px;
    }
    .header__li {
        font-size: 15px;
        padding: 10px;
    }
    .header__toggleMobile {
        max-width: calc(100% - 120px);
    }
}