* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header__logo {
  width: 10%;
  max-width: 180px;
}

.header__menu {
  max-width: calc(100% - 180px);
}

.nav {
  width: 100%;
}

.nav__ul {
  float: right;
  text-decoration: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__li {
  display: inline-block;
  margin-left: 20px;
  padding: 16px 0px;
}

@media screen and (max-width: 1320px) {
  .nav__li {
    font-size: 17px;
    padding: 10px 12px;
    margin-left: 15px;
  }
  .header__logo {
    width: 30%;
    max-width: 150px;
  }
  .header__menu {
    max-width: calc(100% - 150px);
  }
  .toggleMobile {
    float: right;
    text-align: end;
  }
}
@media screen and (max-width: 500px) {
  .header__logo {
    width: 50%;
    max-width: 120px;
    padding-left: 20px;
  }
  .nav__li {
    font-size: 15px;
    padding: 10px;
  }
  .header__menu {
    max-width: calc(100% - 120px);
  }
}
.circle-bg {
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  top: -40px;
  left: -45px;
  z-index: -1;
}

.circle-bg--pink {
  background-color: #FBE9E9;
}

.circle-bg--green {
  background-color: #E7FAF9;
}

.circle-bg--purple {
  background-color: #F5ECFD;
}

.circle-bg--blue {
  background-color: #E7EFFB;
}

.circle-bg--orange {
  background-color: #FDF0E7;
  top: -20px;
}

@media screen and (max-width: 787px) {
  .circle-bg {
    width: 80px;
    height: 80px;
    top: -30px;
    left: -15px;
  }
}
.but {
  border-radius: 13px;
  text-decoration: none;
  padding: 16px;
  color: #000;
  cursor: pointer;
}

.but--purple {
  background-color: #616AE8;
  color: #fff;
}
.but--purple:hover {
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.but--green {
  background-color: #22E4A7;
  color: #fff;
}
.but--green:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

@media screen and (max-width: 767px) {
  .but {
    padding: 10px 16px;
  }
}
.top-box {
  position: relative;
}

.top-box__title {
  color: #2D2B36;
}

.top-box__dsc {
  color: #7E7FA0;
}

@media screen and (max-width: 1000px) {
  .top-box {
    margin-bottom: 30px;
  }
}
.features__subtitle {
  color: #7E7FA0;
}

.features {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 20px 30px;
}

.features__text {
  color: #7E7FA0;
}

.features__icon {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.features__icon--color1 {
  background-color: #FFF1F0;
  color: #ffbcb7;
}

.features__icon--color2 {
  background-color: #F2E9FA;
  color: #dbb7fb;
}

.features__icon--color3 {
  background-color: #E4F7FA;
  color: #86ebfb;
}

.features__icon--color4 {
  background-color: #E4E6FB;
  color: #abb2ff;
}

.features__icon--color5 {
  background-color: #FDE9F4;
  color: #fab1d9;
}

.features__icon--color6 {
  background-color: #E4F9E6;
  color: #93fc9e;
}

.trusted-box-left {
  position: relative;
}

.trusted-box-left__img {
  filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.11));
  border-radius: 16px;
}

.trusted-box-right__quotes {
  font-size: 60px;
  color: #606CFC;
}

.trusted-box-right__author {
  font-weight: 800;
  color: #2D2A3E;
  position: relative;
  margin-left: 35px;
}
.trusted-box-right__author::before {
  content: "";
  display: block;
  position: absolute;
  left: -33px;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: black;
  transform: translateY(-50%);
}

@media screen and (max-width: 787px) {
  .trusted-box-right__circle {
    top: 0px;
  }
}
.cardItem {
  background: #FFFFFF;
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 20px;
}

.cardItem__img {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.cardItem__text {
  padding: 20px;
  position: relative;
}

.cardItem_textsmall {
  font-size: 13px;
  color: #817F8A;
}

.cardItem__cardItemtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardItem__tag {
  position: absolute;
  padding: 5px 15px;
  color: #FFFFFF;
  background-color: #5D69FB;
  top: -25px;
  left: 0;
}
.cardItem__tag::after {
  width: 100%;
  height: 75%;
  background-color: #8c00ff;
  content: "";
  position: absolute;
  top: 0px;
  left: 100%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 20% 100%);
          clip-path: polygon(0 0, 0% 100%, 20% 100%);
}

.page-section {
  border-radius: 48px;
  padding: 20px 0px;
}

.page-section--bg_orange {
  background: #FCF3EC;
}

.navSlide {
  display: flex;
  align-items: center;
}

.navSlide__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #E8E8EB;
  margin-right: 16px;
}

.navSlide__dot--highlight {
  background-color: #606CFC;
  width: 21px;
  height: 21px;
}

.outframe {
  width: 40%;
  height: 100%;
  position: absolute;
  border-radius: 0px 48px 48px 0px;
  left: 0;
  top: 50%;
  transform: translatey(-55%);
  z-index: -1;
}

.outframe--blue {
  background: #F0F9FE;
}

.outframe--right {
  border-radius: 48px 0px 0px 48px;
  right: 0;
}

div:has(.outframe),
section:has(.outframe) {
  position: relative;
}

@media screen and (max-width: 767px) {
  .outframe {
    width: 70%;
  }
}
.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-20 {
  margin-top: 20px;
}

.color-text--simple {
  color: #7E7FA0;
}

.highlight-text--blue {
  color: #606CFC;
}/*# sourceMappingURL=index.css.map */