* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//abstracts
@import './abstracts/variables';
//components
@import './components/header';
@import './components/circleBg';
@import './components/button';
@import './components/top-box';
@import './components/features';
@import './components/trusted-box';
@import './components/cardItem';
//layouts
@import './layouts/section';
@import './layouts/navSlide';
@import './layouts/outframe';
//base
@import './base/modify';
@import './base/typhograper';